
snippet include_directories
include_directories(
	${0}
)
endsnippet

snippet link_libraries
link_libraries(
	${0}
)
endsnippet

snippet target_link_libraries
target_link_libraries(${0}
	
)
endsnippet

