# #################################################################
# L3MON4D3/LuaSnip 不支持UltiSnip类型代码片段, 需要手动添加snipMate
# #################################################################

snippet ignore 
	# type: ignore $1

